flask
faiss-cpu
Pillow
numpy
requests
python-dotenv
faiss-cpu
flask
numpy
Pillow
python-dotenv
requests
flask-sqlalchemy
faiss-cpu
flask
flask-sqlalchemy
numpy
Pillow
python-dotenv
requests
werkzeug
faiss-cpu
flask
flask-sqlalchemy
numpy
Pillow
python-dotenv
requests
werkzeug
